<h1>How to Play</h1>
<p>As a whole, there are no winners or losers.</p>
<h2>1. CREATE your activity</h2>
<p>
  In the next screen, type out your idea for anything you want the group to do
  together. It can bea game, an adventure, something simple, something
  complicated...Anything you can imagine! The only rules are that it needs to be
  something the entire group is comfortable doing and feasible to do within the
  allotted time frame.
</p>
<!-- TODO: show them the time frame here -->
<h2>2. PICK an activity</h2>
<p>
  The <em>Taskmaster</em> will select one of the activities at random for all to
  participate in. If needed, the original creator of the activity may give
  further explanation.
</p>
<!-- TODO: Is it random, or does the Taskmaster pick it? -->
<h2>3. DO that activity</h2>
<p>
  Particpate and have fun! Once the time is up, you'll move on to the next
  random actvity, and repeat until the game is done!
</p>
<a id="create-your-activity-button">Create your activity ➡️</a>
