<body>
  <h1>Join a Room</h1>
  <p>
    Make sure <em><i>only ONE</i></em> person from your group has selected
    <i>Start a Room</i>. That person is the Taskmaster and will lead the game.
  </p>

  <form action="./join" method="post">
    <div id="enter-name-section">
      <h2>Step 1: Enter Name</h2>
      <p>What is your <em>actual</em> name?</p>
      <input type="text" name="your-name" id="your-name" required />
      <br />
      <label for="your-name" id="your-name-label">Your Name</label>
    </div>
    <div id="join-the-room-section">
      <h2>Step 2: Join the room</h2>
      <input
        type="text"
        name="room-code"
        id="room-code"
        hx-get="/room-name"
        hx-params="*"
        hx-trigger="input changed delay:500ms"
        hx-target="#room-selected"
        required
      />
      <br />
      <label for="room-code" id="room-code-label">Room Code</label>
      <div id="room-selected-section">
        <h3>Room Selected:</h3>
        <p><span id="room-selected">🚫 None</span></p>
      </div>
      <input type="submit" id="join-room-button" value="Continue" />
    </div>
  </form>
</body>
